.navbar { 
    width: 100%;
    display: flex; 
    justify-content: space-between;
     align-items: center; 
     padding: 15px 40px; 
     background-color: #222; 
    }
    .nav-links {
        display: flex;
        gap: 12px;
        align-items: center;
    }
    .nav-links button {
        background-color: #720d0d;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }